/* ----------------------------- *\
            CONTENT
\* ----------------------------- */
/**
 *  Fonts
 *  Common Selectors......Body, Clearfix
 *  Main Menu
 *  Main Content: Index.html
 *  Footer
 *  Content: Pages with galleries......Scenographic_projects & Realized_productions
 *  Yellow Sub-header: About Me
 *  Content: About Me
 *  Content: Painting
 *  Media: 1024px, 1366px
 *  Media: 1600px
 *  Media: 1920x1200px
 */



/* ----------------------------- *\
              Fonts
\* ----------------------------- */
@font-face { 
    font-family: 'Minion Pro'; 
    src: url('../font/minion_pro/minion_pro.eot');
    src: url('../font/minion_pro/minion_pro.eot?#iefix') format('embedded-opentype'), url('font/minion_pro/minion_pro.svg#Minion Pro') format('svg'), url('../font/minion_pro/minion_pro.woff') format('woff'), url('../font/minion_pro/minion_pro.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;
}
@font-face { 
    font-family: 'Minion Pro Cond';
    src: url('../font/minion_pro_boldcn/minion_pro_bold_cn.eot');
    src: url('font/minion_pro_boldcn/minion_pro_bold_cn.svg#Minion Pro Cond') format('svg'), url('../font/minion_pro_boldcn/minion_pro_bold_cn.woff') format('woff'), url('../font/minion_pro_boldcn/minion_pro_bold_cn.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face { 
    font-family: 'Minion Pro M';
    src: url('../font/minion_pro_m/MinionProM.eot');
    src: url('font/minion_pro_m/MinionProM.svg#Minion Pro M') format('svg'), url('../font/minion_pro_m/MinionProM.woff') format('woff'), url('../font/minion_pro_m/MinionProM.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face { 
    font-family: 'Humanist777';
    src: url('../font/humanist777/humanist777.eot');
    src: url('font/humanist777/humanist777.svg#Humanist777') format('svg'), url('../font/humanist777/humanist777.woff') format('woff'), url('../font/humanist777/humanist777.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}
@font-face { 
    font-family: 'Stencil';
    src: url('../font/stencil/STENCIL.eot');
    src: url('font/stencil/STENCIL.svg#Stencil') format('svg'), url('../font/stencil/STENCIL.woff') format('woff'), url('../font/stencil/STENCIL.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}



/* ----------------------------- *\
          Common Selectors
\* ----------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: "Minion Pro Cond", serif;
    font-size: 21px;
    color: #000;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #fff;   
}
/* Body style for Realized_production is set in .html file:
 *  style="background-color: #000" */

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}



/* ----------------------------- *\
            Main Menu
\* ----------------------------- */
.main-header {
    padding-top: 70px;   
}
    .main-navigation {
        background-color: #ffff66;
        
    }
        .main-menu {
            width: 1200px;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            text-align: right;
        }
            .main-menu>li {
                display: inline-block;
                vertical-align: bottom;
                position: relative;
                padding: 0;
                margin: 0;
                margin-right: -4px;
                font-family: "Minion Pro Cond", serif;
                font-size: 22px;
                line-height: 28px;   
            }
                .main-menu>li>a {
                    display: block;
                    padding-left: 35px;
                    padding-right: 35px;
                    color: #000;
                    text-decoration: none;
                }
                /* Portfolio: not a link */
                .main-menu .nolink {
                    padding-left: 35px;
                    padding-right: 35px;
                }
                .main-menu a:hover,
                .main-menu>.nolink:hover {
                    color: #fff;
                    background-color: #000;   
                }
        .main-menu .sub-menu {
            z-index: 20;
            position: absolute;
            left: 0;
            top: 24px;
            display: none;
            margin: 0;
            padding: 0;
            width: 100%;
            font-size: 14px;
            line-height: 30px;
            text-align: left;
            list-style: none;
            background-color: #ffff66;
        }
        .main-menu>li:hover .sub-menu {
            display: block;
        }
            .sub-menu a {
                z-index: 10;
                display: block;
                padding: 0 10px; 
                margin: 5px 0;
                text-decoration: none; 
                color: #000;
                font-size: 12px;
                line-height: 25px;
            }
            .sub-menu a:before {
                content: "";
                display: inline-block;
                vertical-align: baseline;
                width: 10px;
                height: 10px;
                margin-right: 2px;
                font-size: 10px;
                background: #000;
                -webkit-border-radius: 5px;
                   -moz-border-radius: 5px;
                        border-radius: 5px;
            }



/* ----------------------------- *\
      Main Content: Index.html
\* ----------------------------- */
.main-content {
    position: absolute;
    bottom: 130px;
    left: 0px;
    right: 0px;
    width: 1000px;  
    margin: 5px auto;
}
    .artist-name {
        margin-bottom: 0;
        font-family: "Minion Pro Cond", serif;
        font-size: 126px;
        line-height: 90px; 
    }
    .artist-name:before {
        content: "Olga";
        position: absolute;
        bottom: 100px;
        left: 0px;
        font-size: 150px;
    }
    .artist-name:after {
        content: "Artist / set and costume designer";
        position: absolute;
        bottom: 60px;
        left: 375px;
        font-size: 21px;
    }
    .logo {
        position: absolute;
        bottom: 90px;
        right: 10px;
    }
         .logo img {
            width: 100%; 
         }



/* ----------------------------- *\
              Footer
\* ----------------------------- */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 35px 0 30px 0 ;
    margin: 0;
    background-color: #000;
}
    .footer-content {
        max-width: 1320px; 
        margin: 0 auto; 
    }
        .footer-social {
            float: left;
            max-width: 400px;
            font-size: 18px;
            color: #fff;
        }
            .social-icon {
                display: inline-block;
                vertical-align: top;
                width: 33px;
                height: 32px;
                margin-right: 15px;
                margin-bottom: 5px;
            }
        .lang-raw {
            float: right;
            max-width: 300px;
        }
            .lang {
                display: inline-block;
                vertical-align: top;
                margin-left: 15px;
                width: 34px;
                height: 34px;
            }
            .lang-ru {
                background: url(../img/ru-icon.png) no-repeat center center;
            }
            .lang-en {
                background: url(../img/en-icon.png) no-repeat center center;
            } 
/* Footer style for Painting page is set is .html file:
*  style="position:inherit"  */



/* ------------------------------------- *\
   Content: Pages with galleries
\* ------------------------------------- */
.content-container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 125px 225px 55px;
}
    .item,
    .item-project {
        position: relative;
        width: 150px;
        height: 150px;
        float: left;
        margin-right: 50px;
        margin-bottom: 43px;
        font-family: "Minion Pro Cond", serif;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        color: #000;
        background-color: #fff;
        -webkit-border-radius: 75px;
           -moz-border-radius: 75px;
                border-radius: 75px;
    }
    .item-project {
        background-color: #000; 
        color: #fff;
    }
    .item:hover {
        background-color: #ffff66;
    }
    .item-project:hover {
        background-color: #ffff66; 
        color: #000;
    }
    .item:nth-child(4n),
    .item-project:nth-child(4n) {
        margin-right: 0;
    }
        .item h2,
        .item-project h2 {
            padding: 0 5px;
            margin-top: 40px;
            margin-bottom: 8px;
            font-size: 18px;
            line-height: 22px;
        }
        .item:nth-child(-n+5) h2,
        .item-project:nth-child(2n) h2 {
            margin-top: 50px;
        }
        .item:nth-child(n+7):nth-child(-n+8) h2,
        .item-project:nth-child(2n-1):nth-child(-n+4) h2 {
            margin-top: 30px;   
        }
        .item-author {
            text-transform: none;
        }



/* -------------------------------------- *\
    Yellow Sub-header: About Me
\* -------------------------------------- */
.sub-header {
    background-color: #e2e768;
}
    .content {
        box-sizing: border-box;
        padding-top: 75px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1360px;
        margin: 0 auto;
        }
    .sub-header-photo {
        width: 30%; 
        float: left; 
    }
        .sub-header-photo img {
            margin: 0;
            padding: 0;
            padding-left: 255px;
        }
    .sub-header-info {
        position: relative;
        float: right;
        width: 765px;
        margin: 0;
        padding: 0;
        font-family: "Minion Pro Cond", serif;
        font-size: 18px;
        line-height: 22px;
        text-transform: none;
    }
        .sub-header-info h2 {
            margin: 0;
            margin-bottom: 16px;
            font-size: 55px;
            line-height: 43px;
        }
        .sub-header-info h2:after {
            content: "Artist / set and costume designer";
            position: absolute;
            top: 45px;
            left: 215px;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
        }
        .sub-header-info p {
            margin-top: 10px;  
            padding-bottom: 15px;
        }
        .sub-header+.content {
            background-color: #fbfbf9;
            font-family: "Minion Pro M", serif;
            font-size: 17px;
            line-height: 20px;
            text-transform: none;
        }



/* ------------------------------ *\
        Content: About Me
\* ------------------------------ */
.content h3 {
    width: 330px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: normal;
    border-bottom: 5px solid #e2e768;
}
.content h4 {
    width:200px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: normal;
    border-bottom: 5px solid #e2e768;
}
.content-year {
    float: left; 
    width: 40px; 
    margin-right: 5px;
    font-family: "Stencil", serif; 
    font-size: 18px; 
    line-height: 22px; 
    background-color: #ff6;
}
.content-play {
    font-family: "Humanist777", sans-serif;
    font-size: 15px;
    font-weight: normal;
}
.content-type {
    font-family: "Minion Pro Cond", sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-weight: normal;
}
.content-row {
    margin-bottom: 20px;
}
.content-row:last-child {
    margin-bottom: 60px;
}
    .content-row p {
        float: left; 
        margin: 0;
    }



/* ----------------------------- *\
        Content: Painting
\* ----------------------------- */
.content-fancy {
    box-sizing: border-box;
    max-width: 950px;
    margin: 0 auto;
    padding: 90px 10px 90px;
    margin-bottom: 20px;
}
    .fancybox {
        position: relative;
        display: inline-block;
        float: left;
        width: 290px;
        height: 175px;
        margin-right: 20px;
        margin-bottom: 20px; 
    }
    .fancybox:nth-child(3n) {margin-right: 0;}
        .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 290px;
            height: 175px;
            background-color: rgba(232,231,80, 0.4);
            opacity: 0;
        }
    .fancybox:hover .mask {opacity: 1;}
.fancybox-title-float-wrap span.child {
    color: #000;
    text-transform: none;
    text-shadow: none;
    background-color: #999999;
}

/* --------------------------- *\
           Handmade
\* --------------------------- */
.sticky-site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.handmade-container {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 60px;
    background-image: url(../portfolio/handmade/art-pillows.png);
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 140px auto;
}
.handmade-gallery {
    display: flex;
    width: 100%;
    justify-content: center;
}
.handmade-item {
    width: 20%;
    text-align: center;
    margin: 0 5px;
}
.handmade-item-down {
    align-self: flex-end;
}
.handmade-image {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    width: 130px;
    height: 130px;
}
.handmade-image:hover {
    transform: scale(1.1);
}
.handmade-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1;
}
.handmade-subtitle {
    display: block;
    font-size: 12px;
    line-height: 1;
}
.footer-handmade {
    position: inherit;
    width: 100%;
    padding: 35px 0 30px 0 ;
    margin: 0;
    background-color: #000;
}




/* ----------------------------- *\
        Media: 1024px, 1366px
\* ----------------------------- */
@media screen and (max-width:1400px) {
    .logo {
        bottom: 65px;
        right: -80px;
    }
    .logo img {
        width: 55%; 
    }
    .main-content {
        width: 700px;
        bottom: 110px;
        left: 0px;
        right: 0px; 
        margin: 5px auto;
    }
    .artist-name {
        font-size: 86px;
        line-height: 60px;
    }
    .artist-name:before {
        bottom: 73px;
        left: 0px;
        font-size: 102px;
    }
    .artist-name:after {
        bottom: 46px;
        left: 270px;
        font-size: 14px;
    }
    .main-menu {
        width: 950px;
    }
    .main-menu>li {
        font-size: 18px;
        line-height: 24px;
    }
    .main-menu>li>a {
        padding-left: 35px;
        padding-right: 35px;
    }
        .sub-menu {
            left: 793px;
            padding: 0;
            font-size: 12px;
            line-height: 25px;
        }
        .sub-menu a {
                padding: 0 3px; 
            }
        .sub-menu a:before {
            font-size: 8px;
            width: 8px;
            height: 8px;
        }
    footer {
        padding-top: 25px; 
        padding-bottom: 20px;
    }
        .footer-content {
            width: 900px; 
        }
        .footer-social {font-size: 14px;}
        .content-container {
            box-sizing: border-box;
            width: 900px;
            padding: 100px 102px 45px;
        }
    .handmade-container {
       width: 900px; 
    }
    .item,
    .item-project {
        margin-right: 30px;
    }
}


/* ----------------------------- *\
        Media: 1600px
\* ----------------------------- */
@media screen and (min-width:1500px) and (max-width:1800px) {
    .logo {
        bottom: 65px;
        right: -50px;
    }
    .logo img {
        width: 70%; 
    }
    .main-content {
        width: 900px;
        bottom: 115px;
    }
    .artist-name {
        font-size: 110px; /* x */
        line-height: 60px;
    }
    .artist-name:before {
        bottom: 87px;  
        font-size: 130px;  /* 1,186x */
    }
    .artist-name:after {
        bottom: 52px;  
        left: 360px;
        font-size: 18px;  /* 0,163x */
    }
    .main-menu {
        width: 1100px;
    }
    .main-menu>li {
        font-size: 20px;
        line-height: 26px;
        margin: 0;
        margin-right: -4px;
        padding: 0;
    }
    .main-menu>li:nth-child(3),
    .main-menu>li>a {
        padding-left: 40px;
        padding-right: 40px;
    }
        .sub-menu {
            left: 923px;
            padding: 0;
            font-size: 14px;
            line-height: 25px;
        }
        .sub-menu a {
                padding: 3px 3px; 
            }
        .sub-menu a:before {
            font-size: 10px;
            width: 10px;
            height: 10px;
        }
    footer {
        padding-top: 25px; 
        padding-bottom: 20px;
    }
        .footer-content {
            width: 950px; 
        }
        .footer-social {font-size: 14px;}
}


/* ----------------------------- *\
        Media: 1920x1200px
\* ----------------------------- */
@media screen and (min-width:1900px) and (min-height:1100px) {
    .logo {
        bottom: 125px;
        right: 70px;
    }
    .logo img {
        width: 115%; 
    }
    .main-content {
        width: 1200px;
    }
    .artist-name {
        font-size: 146px;
        line-height: 135px;
    }
    .artist-name:before {
        bottom: 120px;
        left: 0px;
        font-size: 173px;
    }
    .artist-name:after {
        bottom: 74px;
        left: 450px;
        font-size: 24px;
    }
    .main-menu {
        width: 1400px;
    }
    .main-menu>li {
        font-size: 26px;
        line-height: 30px;
    }
    .main-menu>li:nth-child(3),
    .main-menu>li>a {
        padding-left: 45px;
        padding-right: 45px;
    }
        .sub-menu {
            left: 982px;
            
            font-size: 17px;
            line-height: 32px;
        }
        .sub-menu a {
                padding: 2px 6px; 
            }
        .sub-menu a:before {
            font-size: 12px;
            width: 12px;
            height: 12px;
            -webkit-border-radius: 6px;
                   -moz-border-radius: 6px;
                        border-radius: 6px;
        }
    footer {
        padding: 55px 0 55px 0 ;
    }
    .lang-raw {
        width: 1450px; 
    }
    .content-container {
    padding: 145px 225px 395px;
    }
    .content-fancy {
        max-width: 1200px;
        padding: 145px 105px 160px;
    }
    .fancybox {  
        margin-right: 30px;
        margin-bottom: 20px
        }
}
