// COLORS
$main: #000000;
$decor: #ffff66;
$decor-dark: #e2e768;
$bg-accent: #fbfbf9;
$white: #FFFFFF;
$grey: #999999;
// END COLORS

// Media
$xs-mobile: 325;
$s-mobile: 375;
$mobile: 500;
$l-mobile: 650;
$m-tablet: 768;
$tablet: 1024;
$s-desktop: 1280;
$m-desktop: 1440;

$max-content-width: 1400px;
$scroll-width: calc(100vw - 100%);
