include ../../components/_projects

-
	var productions = [
		{
			id: "sakrament-of-the-forest",
			preview: "/img/portfolio/preview/sakrament-of-the-forest.jpg",
			mobileOrder: 1,
			title: "SACRAMENT OF THE FOREST",
			author: "by Kolas",
		},
		{
			id: "the-little-ghost",
			preview: "/img/portfolio/preview/the-little-ghost.jpg",
			mobileOrder: 4,
			title: "THE LITTLE GHOST",
			author: "by Preussler",
		},
		{
			id: "victims-of-duty",
			preview: "/img/portfolio/preview/victims-of-duty.jpg",
			mobileOrder: 5,
			title: "VICTIMS OF DUTY",
			author: "by Ionesco",
		},
		{
			id: "all-mice-love-cheese",
			preview: "/img/portfolio/preview/all-mice-love-cheese.jpg",
			mobileOrder: 2,
			title: "ALL MICE LOVE CHEESE",
			author: "by Urban",
		},
		{
			id: "the-ugly-duskling",
			preview: "/img/portfolio/preview/the-ugly-duskling.jpg",
			mobileOrder: 3,
			title: "THE UGLY DUCKLING",
			author: "by Andersen",
		},
		{
			id: "hedda-gabler",
			preview: "/img/portfolio/preview/hedda-gabler.jpg",
			mobileOrder: 6,
			title: "HEDDA GABLER",
			author: "by Ibsen",
		},
		{
			id: "the-funny-elf-and-the-evil-witch",
			preview: "/img/portfolio/preview/the-funny-elf-and-the-evil-witch.jpg",
			mobileOrder: 7,
			title: "THE FUNNY ELF",
			author: "by Ilyukhov",
		},
		{
			id: "the-flying-jacob",
			preview: "/img/portfolio/preview/the-flying-jacob.jpg",
			mobileOrder: 8,
			title: "THE FLYING JACOB",
			author: "by Vecht",
		},
		{
			id: "little-nicolas",
			preview: "/img/portfolio/preview/little-nicolas.jpg",
			mobileOrder: 6,
			title: "LITTLE NICOLAS",
			author: "by Goscinny",
		},
		{
			id: "the-busya",
			preview: "/img/portfolio/preview/the-busya.jpg",
			mobileOrder: 9,
			title: "THE BUSYA"
		},
		{
			id: "the-catcher-in-the-rye",
			preview: "/img/portfolio/preview/the-catcher-in-the-rye.jpg",
			mobileOrder: 10,
			title: "THE CATCHER IN THE RYE",
			author: "by Salinger",
		},
		{
			id: "sha-sha-in-the-left-shoe",
			preview: "/img/portfolio/preview/sha-sha-in-the-left-shoe.jpg",
			mobileOrder: 11,
			title: "SHA-SHA IN THE LEFT SHOE",
			author: "by Malchevskaya",
		},
		{
			id: "puss-in-boots",
			preview: "/img/portfolio/preview/puss-in-boots.jpg",
			mobileOrder: 14,
			title: "PUSS IN BOOTS",
			author: "by Perrault",
		},
		{
			id: "once-in-verona",
			preview: "/img/portfolio/preview/once-in-verona.jpg",
			mobileOrder: 13,
			title: "ONCE IN VERONA",
			author: "by Gorin",
		},
		{
			id: "the-little-humpbacked-horse",
			preview: "/img/portfolio/preview/the-little-humpbacked-horse.jpg",
			mobileOrder: 12,
			title: "THE LITTLE HUMPBACKED HORSE",
			author: "by Yershov",
		},
		{
			id: "the-golden-fleece",
			preview: "/img/portfolio/preview/the-golden-fleece.jpg",
			mobileOrder: 15,
			title: "THE GOLDEN FLEECE",
			author: "by Priestley",
		},
		{
			id: "even-a-wise-man-stumbles",
			preview: "/img/portfolio/preview/even-a-wise-man-stumbles.jpg",
			mobileOrder: 17,
			title: "EVEN A WISE MAN STUMBLES",
			author: "by Ostrovsky",
		},
		{
			id: "black-comedy",
			preview: "/img/portfolio/preview/black-comedy.jpg",
			mobileOrder: 16,
			title: "BLACK COMEDY",
			author: "by Shaffer",
		},
		{
			id: "accidental-death-of-the-anarchist",
			preview: "/img/portfolio/preview/accidental-death-of-the-anarchist.jpg",
			mobileOrder: 18,
			title: "ACCIDENTAL DEATH OF AN ANARCHIST",
			author: "by Dario Fo",
		},
		{
			id: "the-overcoat",
			preview: "/img/portfolio/preview/the-overcoat.jpg",
			mobileOrder: 20,
			title: "THE OVERCOAT",
			author: "by Gogol",
		},
		{
			id: "cemetery-club",
			preview: "/img/portfolio/preview/cemetery-club.jpg",
			mobileOrder: 19,
			title: "CEMETERY CLUB",
			author: "by Menchell",
		},
	]
	var projects = [
		{
			id: "master-and-margarita",
			preview: "/img/portfolio/preview/master-and-margarita.jpg",
			mobileOrder: 1,
			title: "THE MASTER AND MARGARITA",
			author: "by Bulgakov",
		},
		{
			id: "the-birds",
			preview: "/img/portfolio/preview/the-birds.jpg",
			mobileOrder: 2,
			title: "THE BIRDS",
			author: "by Aristophanes",
		},
		{
			id: "three-fat-men",
			preview: "/img/portfolio/preview/three-fat-men.jpg",
			mobileOrder: 3,
			title: "THREE FAT MEN",
			author: "by Rubin",
		},
		{
			id: "the-head",
			preview: "/img/portfolio/preview/the-head.jpg",
			mobileOrder: 5,
			title: "THE HEAD",
			author: "by Sidaruk",
		},
		{
			id: "falstaff",
			preview: "/img/portfolio/preview/falstaff.jpg",
			mobileOrder: 4,
			title: "FALSTAFF",
			author: "by Verdi",
		},
		{
			id: "three-sisters",
			preview: "/img/portfolio/preview/three-sisters.jpg",
			mobileOrder: 6,
			title: "THREE SISTERS",
			author: "by Chekhov",
		},
	]

.theatre
	h1.visually-hidden Theatre realized productions and projects
	section.container.theatre__header
		strong.theatre__artist Olga Shcherbinskaya
		p.theatre__desc artist/set and costume designer

	section.theatre__section
		div.container
			h2.theatre__sectionTitle Theatre/Realized productions
			+projects(productions)

	section.theatre__section
		div.container
			h2.theatre__sectionTitle Theatre/Projects
			+projects(projects)
