include ../../components/_modals

-
	var modals = [
		{
			id: "sakrament-of-the-forest",
			imagePath: "/img/portfolio/productions/sakrament-of-the-forest/",
			imageNum: 20,
			sign: '<p class="sign__line sign__line--main">Set, puppet and costume design for <strong>Sakrament of the forest</strong> based on fairy tales by Yakub Kolas</p><p class="sign__line">director - Yana Yanchik</p><p class="sign__line">Gomel Puppet Theatre, Gomel, Belarus, premiere - July 2022</p>'
		},
		{
			id: "the-little-ghost",
			imagePath: "/img/portfolio/productions/the-little-ghost/",
			imageNum: 18,
			sign: '<p class="sign__line sign__line--main">Set, puppet and costume design for <strong>The little ghost</strong> by Otfried Preussler</p><p class="sign__line">director - Yana Yanchik</p><p class="sign__line">Gomel Puppet Theatre, Gomel, Belarus, premiere - May 2023</p>'
		},
		{
			id: "victims-of-duty",
			imagePath: "/img/portfolio/productions/victims-of-duty/",
			imageNum: 10,
			sign: '<p class="sign__line sign__line--main">Set and costume design for video performance <strong>Victims of duty</strong> by Eugene Ionesco</p><p class="sign__line">director - Victoria Balcer</p><p class="sign__line">Grodno, Belarus, premiere - July 2021</p>'
		},
		{
			id: "all-mice-love-cheese",
			imagePath: "/img/portfolio/productions/all-mice-love-cheese/",
			imageNum: 13,
			sign: '<p class="sign__line sign__line--main">Set and costume design for <strong>All mice love cheese</strong> by D.Urban</p><p class="sign__line">director - Sergey Kurylenko</p><p class="sign__line">Grodno drama theatre, Grodno, Belarus, premiere - April 2020</p>'
		},
		{
			id: "the-ugly-duskling",
			imagePath: "/img/portfolio/productions/the-ugly-duskling/",
			imageNum: 26,
			videoPos: 1,
			videoDur: 4000,
			sign: '<p class="sign__line sign__line--main">Set, puppet and costume design for <strong>The ugly duskling</strong> by Hans Christian Andersen</p><p class="sign__line">director - Valery Karyshev</p><p class="sign__line">Grodno Puppet Theatre, Grodno, Belarus, premiere - July 2022</p>'
		},
		{
			id: "hedda-gabler",
			imagePath: "/img/portfolio/productions/hedda-gabler/",
			imageNum: 24,
			sign: '<p class="sign__line sign__line--main">Set, puppet and costume design for <strong>Hedda Gabler</strong> by H.Ibsen</p><p class="sign__line">director - Natalia Slaschova</p><p class="sign__line">Gomel Puppet Theatre, Gomel, Belarus, premiere - April 2015</p>'
		},
		{
			id: "the-funny-elf-and-the-evil-witch",
			imagePath: "/img/portfolio/productions/the-funny-elf-and-the-evil-witch/",
			imageNum: 14,
			sign: '<p class="sign__line sign__line--main">Set and costume design for <strong>The funny elf and the evil witch</strong> by V.Ilyukhov</p><p class="sign__line">director - Yana Yanchik</p><p class="sign__line">Gomel City Youth Theatre, Gomel, Belarus, premiere - December 2021</p>'
		},
		{
			id: "the-flying-jacob",
			imagePath: "/img/portfolio/productions/the-flying-jacob/",
			imageNum: 11,
			videoPos: 1,
			videoDur: 17000,
			sign: '<p class="sign__line sign__line--main">Set/puppet design and creative workshop for interactive performance <strong>The flying Jacob</strong> by P.Vecht</p><p class="sign__line">Idea, director - Olga Bookataya</p><p class="sign__line">Grodno, Belarus, premiere - May 2021</p>'
		},
		{
			id: "little-nicolas",
			imagePath: "/img/portfolio/productions/little-nicolas/",
			imageNum: 20,
			sign: '<p class="sign__line sign__line--main">Set, puppet and costume design for <strong>Little Nicolas</strong> by Rene Goscinny</p><p class="sign__line">director - Natalia Slaschova</p><p class="sign__line">Gomel Puppet Theatre, Gomel, Belarus, premiere - July 2018</p>'
		},
		{
			id: "the-busya",
			imagePath: "/img/portfolio/productions/the-busya/",
			imageNum: 11,
			sign: '<p class="sign__line sign__line--main">Set and costume design for the plastic performance <strong>The Busya</strong></p><p class="sign__line">Idea, director, dance - Victoria Balcer</p><p class="sign__line">Grodno drama theatre, Grodno, Belarus, premiere - August 2020</p>'
		},
		{
			id: "the-catcher-in-the-rye",
			imagePath: "/img/portfolio/productions/the-catcher-in-the-rye/",
			imageNum: 14,
			sign: '<p class="sign__line sign__line--main">Set, puppet and costume design for <strong>The catcher in the rye</strong> by J.D.Salinger</p><p class="sign__line">director - Natalia Slaschova</p><p class="sign__line">Gomel Puppet Theatre, Gomel, Belarus, premiere - May 2012</p>'
		},
		{
			id: "sha-sha-in-the-left-shoe",
			imagePath: "/img/portfolio/productions/sha-sha-in-the-left-shoe/",
			imageNum: 13,
			sign: '<p class="sign__line sign__line--main">Set, puppet and costume design for <strong>Sha-Sha in the left shoe</strong> based on the story by E.Malchevskaya</p><p class="sign__line">director - Natalia Slaschova</p><p class="sign__line">Gomel Puppet Theatre, Gomel, Belarus, premiere - June 2016</p>'
		},
		{
			id: "puss-in-boots",
			imagePath: "/img/portfolio/productions/puss-in-boots/",
			imageNum: 7,
			sign: '<p class="sign__line sign__line--main">Set and costume design for <strong>Puss in boots</strong> based on the fairy tale by Charles Perrault</p><p class="sign__line">director - Sergey Kurylenko</p><p class="sign__line">Grodno drama theatre, Grodno, Belarus, premiere - December 2012</p>'
		},
		{
			id: "once-in-verona",
			imagePath: "/img/portfolio/productions/once-in-verona/",
			imageNum: 14,
			sign: '<p class="sign__line sign__line--main">Set and costume design for <strong>Once in Verona</strong> by G.Gorin</p><p class="sign__line">director - Vyacheslav Pavlutc</p><p class="sign__line">Belarussian army drama theatre, Minsk, Belarus, premiere - March 2016</p>'
		},
		{
			id: "the-little-humpbacked-horse",
			imagePath: "/img/portfolio/productions/the-little-humpbacked-horse/",
			imageNum: 12,
			sign: '<p class="sign__line sign__line--main">Set, puppet and costume design for <strong>The little humpbacked horse</strong> by P.Yershov</p><p class="sign__line">director - Natalia Slaschova</p><p class="sign__line">Mogilev Puppet Theatre, Mogilev, Belarus, premiere - July 2014</p>'
		},
		{
			id: "the-golden-fleece",
			imagePath: "/img/portfolio/productions/the-golden-fleece/",
			imageNum: 10,
			sign: '<p class="sign__line sign__line--main">Set and costume design for <strong>The golden fleece</strong> by J.Priestley</p><p class="sign__line">director - Gennady Mushpert</p><p class="sign__line">Grodno drama theatre, Grodno, Belarus, premiere - November 2015</p>'
		},
		{
			id: "even-a-wise-man-stumbles",
			imagePath: "/img/portfolio/productions/even-a-wise-man-stumbles/",
			imageNum: 13,
			sign: '<p class="sign__line sign__line--main">Set and costume design for <strong>Even a wise man stumbles</strong> by N.Ostrovsky</p><p class="sign__line">director - Gennady Mushpert</p><p class="sign__line">Grodno drama theatre, Grodno, Belarus, premiere - March 2015</p>'
		},
		{
			id: "black-comedy",
			imagePath: "/img/portfolio/productions/black-comedy/",
			imageNum: 10,
			sign: '<p class="sign__line sign__line--main">Set and costume design for <strong>Black comedy</strong> by Shaffer</p><p class="sign__line">director - Sergey Kurylenko</p><p class="sign__line">Grodno drama theatre, Grodno, Belarus, premiere - March 2016</p>'
		},
		{
			id: "accidental-death-of-the-anarchist",
			imagePath: "/img/portfolio/productions/accidental-death-of-the-anarchist/",
			imageNum: 11,
			sign: '<p class="sign__line sign__line--main">Set and costume design for <strong>Accidental death of an anarchist</strong> by Dario Fo</p><p class="sign__line">director - Sergey Kurylenko</p><p class="sign__line">Grodno drama theatre, Grodno, Belarus, premiere - July 2014</p>'
		},
		{
			id: "the-overcoat",
			imagePath: "/img/portfolio/productions/the-overcoat/",
			imageNum: 22,
			sign: '<p class="sign__line sign__line--main">Costume design for <strong>The overcoat</strong> based on short stories by N.Gogol</p><p class="sign__line">director - Piotr Dobrovsky</p><p class="sign__line">Grodno drama theatre, Grodno, Belarus, premiere - May 2014</p>'
		},
		{
			id: "cemetery-club",
			imagePath: "/img/portfolio/productions/cemetery-club/",
			imageNum: 8,
			sign: '<p class="sign__line sign__line--main">Set and costume design for <strong>Cemetery club</strong> by L.Menchell</p><p class="sign__line">director - Sergey Kurylenko</p><p class="sign__line">Grodno drama theatre, Grodno, Belarus, premiere - July 2015</p>'
		},
		{
			id: "master-and-margarita",
			imagePath: "/img/portfolio/projects/master-and-margarita/",
			imageNum: 19
		},
		{
			id: "the-birds",
			imagePath: "/img/portfolio/projects/the-birds/",
			imageNum: 12
		},
		{
			id: "three-fat-men",
			imagePath: "/img/portfolio/projects/three-fat-men/",
			imageNum: 10
		},
		{
			id: "the-head",
			imagePath: "/img/portfolio/projects/the-head/",
			imageNum: 7
		},
		{
			id: "falstaff",
			imagePath: "/img/portfolio/projects/falstaff/",
			imageNum: 8
		},
		{
			id: "three-sisters",
			imagePath: "/img/portfolio/projects/three-sisters/",
			imageNum: 6
		}
	]

+modals(modals)
