include _mixins
block vars
doctype html
html(lang="ru")
	head
		include ./includes/_head
	body
		block header
			+header()

		block main
			main#main.page-content
				block content

		block footer
			include ./includes/_footer

		#modals.modals
			block modals

		//LOAD SCRIPTS
		block scripts
			script(src="/js/app.js")
