mixin header()
	header.page-header&attributes(attributes)
		nav.main-nav
			.container.main-nav__inner
				ul.main-nav__list.js-menu
					li.main-nav__item
						+link("index.html", "Home")
					li.main-nav__item
						+link("about.html", "About me")
					li.main-nav__item
						span Portfolio
						ul.main-nav__list
							li.main-nav__item
								+link("scenographic-projects.html", "Scenographic projects")
							li.main-nav__item
								+link("realized-productions.html", "Realized Productions")
							li.main-nav__item
								+link("painting.html", "Painting")
					//- li.main-nav__item
					//- 	+link("handmade.html", "Hand Made")

				button.main-nav__toggle.js-menu-toggle(type="button")
					.main-nav__toggle-inner
		block
