mixin header()
	header.page-header&attributes(attributes)
		nav.main-nav
			.container.main-nav__inner
				ul.main-nav__list.js-menu
					li.main-nav__item
						+link("index.html", "Home")
					li.main-nav__item
						+link("theatre.html", "Theatre")
					li.main-nav__item
						+link("about.html", "About")
					li.main-nav__social
						+social("header")

				button.main-nav__toggle.js-menu-toggle(type="button")
					.main-nav__toggle-inner
		block
