mixin projects(projects = [])
	ul.projects.container
		each project in projects
			- var { title, author, modal } = project
			li.project.projects__item
				button.project__btn.js-modal-trigger(data-modal=modal, tabindex="0")
				.project__content
					h2.project__title!=`&laquo;${title}&raquo`
					if author
						p.project__author=author
