mixin social(iconId)
	div.social
		a.social__iconBtn(href="https://www.facebook.com/olga.shcherbinskaya" target="_blank" rel="noopener noreferrer")
			+fbIcon(iconId)
		a.social__iconBtn(href="https://www.linkedin.com/pub/olga-shcherbinskaya/a4/175/b82" target="_blank" rel="noopener noreferrer")
			+linkedinIcon(iconId)
		a.social__iconBtn(href="https://www.instagram.com/shcherbinskaya_art" target="_blank" rel="noopener noreferrer")
			+instagramIcon(iconId)
		div.social__email
			a(href="mailto:olga.shcherbinskaya@gmail.com") olga.shcherbinskaya@gmail.com
