.about
	padding-top: 68px
	padding-bottom: 54px
	+r($tablet)
		padding-top: 52px
	+r($m-tablet)
		padding-top: 40px
		padding-bottom: 32px
	+r($l-mobile)
		padding-top: 32px
		padding-bottom: 18px

.about__row
	display: grid
	grid-gap: 40px
	grid-template-columns: 390px minmax(0, 1fr)
	align-items: flex-start
	+r($tablet)
		grid-template-columns: minmax(0, 3fr) minmax(0, 7fr)
		grid-gap: 25px
	+r($m-tablet)
		grid-gap: 20px
	+r($l-mobile)
		grid-template-columns: minmax(0, 1fr)
		grid-gap: 10px

.about__photo
	position: relative
	flex-shrink: 0
	width: 100%
	height: auto
	border-radius: 34px
	overflow: hidden
	+r($l-mobile)
		justify-self: center
		max-width: 186px
		border-radius: 14px
	&::after
		content: ''
		display: block
		padding-top: 100%
	& > img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

.about__info
	padding-top: 40px
	font-size: 26px
	font-weight: 300
	p
		margin-bottom: 10px
	+r($s-desktop)
		padding-top: 4px
	+r($tablet)
		padding-top: 20px
		font-size: 16px
	+r($m-tablet)
		padding-top: 4px
	+r($l-mobile)
		font-size: 14px
		p:first-child
			margin-bottom: 20px
			text-align: center

.about__name
	position: relative
	display: block
	margin-bottom: 16px
	font-family: $staatliches
	font-weight: 400
	font-size: 67px
	line-height: 1
	text-transform: uppercase
	+r($tablet)
		font-size: 59px
	+r($m-tablet)
		font-size: 46px
	+r($l-mobile)
		font-size: 36px

.about__desc
	margin-top: -10px
	margin-bottom: 28px
	padding: 6px 10px 3px
	font-family: $manjari
	font-weight: 400
	font-size: 32px
	line-height: 1
	color: $white
	background-color: $main
	+r($tablet)
		font-size: 26px
	+r($m-tablet)
		font-size: 18px
	+r($l-mobile)
		padding: 6px 6px 3px
		margin-bottom: 24px
		font-size: 14px






