.artist
	display: flex
	justify-content: center
	align-items: flex-end
	height: 100%
	padding-top: 50px
	padding-bottom: 10px

.artist__inner
	display: flex
	flex-direction: column
	align-items: flex-start

.artist__top
	display: flex
	align-items: flex-end
	justify-content: center
	flex-wrap: wrap
	width: 100%

.artist__text
	display: flex
	align-items: flex-end
	width: calc(100% - 320px)
	+r($s-desktop)
		width: calc(100% - 250px)
	+r($tablet)
		width: calc(100% - 210px)
	+r(900)
		width: 100%
	& > svg
		width: 100%
		height: auto
		max-width: none
		max-height: none
		overflow: hidden

.artist__surname
	& > svg
		width: 100%
		height: auto
		max-width: none
		max-height: none
		overflow: hidden

.artist__img
	width: 248px
	height: 500px
	margin-right: 23px
	margin-left: auto
	margin-bottom: 12px
	+r($m-desktop)
		width: 260px
		height: 525px
	+r($s-desktop)
		width: 220px
		height: 444px
		margin-right: 16px
	+r($tablet)
		width: 182px
		height: 367px
	+r(900)
		order: -1
		overflow: hidden
		width: 100%
		height: auto
		margin-left: auto
		margin-right: 0
		margin-bottom: -9%
	img
		width: 100%
		height: 100%
		+r(900)
			width: 48%
			max-width: 248px
			height: auto
			margin-left: auto
			transform: translateY(33%)
