.gallery
	--gallery-sign-height: 120px
	display: flex
	align-items: center
	flex-direction: column
	align-content: center
	justify-content: center
	width: 100%
	height: 100%
	+r($l-mobile)
		padding: 40px 15px 30px

.gallery__slider
	width: 100%
	height: 100%
	max-height: calc(690px - var(--gallery-sign-height))
	padding-bottom: 36px
	+r($l-mobile)
		max-height: calc(590px - var(--gallery-sign-height))

.gallery__item
	position: relative
	width: 100%
	height: 100%
	& > img, & > video
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: contain
		font-family: "object-fit: contain;"

.gallery__text
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	padding: 20px
	text-align: center
	background: linear-gradient(0deg, black, transparent)
	color: white

.gallery__buttons
	position: absolute
	left: 0
	bottom: 0
	z-index: 1
	display: flex
	justify-content: center
	width: 100%
	height: 30px

.gallery__pagination
	display: flex
	align-items: center
	justify-content: center
	width: 60px
	padding-top: 5px
	font-family: $manjari
	font-weight: 400
	line-height: 1
	font-size: 16px
	+r($l-mobile)
		width: 46px
		padding-top: 4px
		font-size: 15px

.gallery__button
	position: relative
	width: 30px
	height: 30px
	color: $main
	opacity: 0.6
	cursor: pointer
	transition: opacity 0.2s ease
	+notouch
		&:hover
			opacity: 0.4
	&::before
		content: ''
		position: absolute
		top: calc(50% - 6px)
		left: 12px
		display: block
		width: 11px
		height: 11px
		border-top: 2px solid currentColor
		border-right: 2px solid currentColor
		transform: rotate(45deg)
	&--next
		&::before
			left: 6px
			transform: rotate(45deg)
	&--prev
		&::before
			transform: rotate(-135deg)
	&--disabled
		cursor: default
		opacity: 0.3

.gallery__sign
	width: 100%
	height: var(--gallery-sign-height)
	max-width: 960px
	margin: 0 auto
	padding: 16px 26px 0
	user-select: none
	+r($l-mobile)
		padding: 15px 15px 0
	img
		width: 100%
		height: 100%
		object-fit: contain
		object-position: top
