.main-nav
	position: relative
	text-transform: uppercase
	+r($tablet)
		padding: 10px 0
		box-shadow: 4px 4px 4px 0 rgba(171,168,168,0.2)
	+r($l-mobile)
		padding: 4px 0 6px

.main-nav__inner
	position: relative
	display: flex
	justify-content: flex-end
	+r($tablet)
		justify-content: flex-start
	+r($l-mobile)
		position: static
		justify-content: flex-end

.main-nav__list
	display: flex
	justify-content: flex-end
	+r($tablet)
		position: absolute
		top: calc(100% + 10px)
		left: 0
		z-index: 10
		flex-direction: column
		min-width: 300px
		padding: 10px 0 18px
		background-color: $white
		box-shadow: 0px 0px 15px 4px rgba(171,168,168,0.2)
		opacity: 0
		visibility: hidden
		pointer-events: none
		transform: translateY(20px)
		transition: opacity 0.3s ease, visibility 0s 0.3s, transform 0.3s ease
		&.visible
			opacity: 1
			visibility: visible
			pointer-events: all
			transform: none
			pointer-events: all
			transition: opacity 0.3s ease, visibility 0s, transform 0.3s ease
			& + .main-nav__toggle > .main-nav__toggle-inner
				transition-delay: .22s
				transition-timing-function: cubic-bezier(.215,.61,.355,1)
				transform: translate3d(0,-9px,0) rotate(-45deg)
				&::before
					top: 0
					transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s
					transform: rotate(-90deg)
				&::after
					top: 0
					transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s
					opacity: 0
			.main-nav__list
				pointer-events: all
	+r($l-mobile)
		top: calc(100% - 50px)
		width: 100%
		padding-top: 16px
		padding-bottom: 20px
		background: $header
		box-shadow: 0px 4px 6px 0px rgba(171,168,168,0.2)
	.main-nav__list
		position: absolute
		top: 100%
		left: 0
		z-index: 10
		display: block
		width: 100%
		padding: 5px 0
		box-shadow: none
		background-color: $header
		opacity: 0
		visibility: hidden
		transform: translateY(15px)
		transition: transform 0.3s ease-in, visibility 0s 0.2s, opacity 0.2s ease-in
		+r($tablet)
			position: static
			padding: 0
			opacity: 1
			visibility: visible
			transform: none
			background: $white
		+r($l-mobile)
			background: $header
		.main-nav__item
			+r($l-mobile)
				width: 100%
				margin-left: 0
		a, span
			padding: 5px 10px 5px 21px
			font-size: 12px
			line-height: 1.4
			+r($tablet)
				padding: 7px 10px 7px 52px
			&::before
				content: ''
				position: absolute
				top: 9px
				left: 9px
				display: flex
				width: 8px
				height: 8px
				background: $main
				border-radius: 50%
				+r($tablet)
					top: 11px
					left: 37px

.main-nav__item
	position: relative
	+r($l-mobile)
		width: calc(90% - 60px)
	a, & > span
		position: relative
		z-index: 1
		display: flex
		padding: 0 24px
		font-size: 20px
		line-height: calc(28/20)
		color: $main
		transition: color 0.2s 0.1s
		&.active
			color: rgba($main, 0.5)
		+r($tablet)
			padding: 6px 10px 6px 20px
		+notouch
			&:hover:not(.active)
				color: $white
				&:after
					transform: none
					transition: transform 0.16s ease-in, visibility 0s 0.2s, opacity 0.2s ease-in
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			z-index: -1
			width: 100%
			height: 100%
			background: $main
			transform: scaleY(0)
			transform-origin: 50% 100%
			transition: transform 0.16s ease-in, visibility 0s 0.2s, opacity 0.2s ease-in
	& > span
		cursor: default
	&:hover
		.main-nav__list
			opacity: 1
			visibility: visible
			transform: none
			transition: transform 0.3s ease-out, visibility 0s, opacity 0.2s ease-out

.main-nav__toggle
	position: relative
	z-index: 11
	width: 35px
	height: 35px
	display: none
	+r($tablet)
		display: block

.main-nav__toggle-inner
	position: absolute
	top: 26px
	left: 10%
	width: 80%
	height: 3px
	transition-delay: .13s
	transition-timing-function: cubic-bezier(.55,.055,.675,.19)
	transition-duration: .13s
	transition-property: transform
	border-radius: 4px
	background-color: #000
	&::before, &::after
		content: ''
		position: absolute
		left: 0
		width: 100%
		height: 3px
		transition-timing-function: ease
		transition-duration: .15s
		transition-property: transform
		border-radius: 4px
		background-color: #000
	&::before
		top: -9px
	&::after
		top: -18px
		transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear

.main-nav__social
	margin: 15px 20px 0
	padding-top: 15px
	border-top: 1px solid $divider
	.social__email > a
		color: $main
		&:hover
			color: initial
	+rm($tablet + 1)
		display: none
	+r($l-mobile)
		width: calc(90% - 6px)
		margin-left: 5%
		.social
			gap: 8px 10px
