.page-footer
	padding: 45px 0
	text-transform: uppercase
	background: $main
	+r(1366)
		padding: 16px 0
	+r($l-mobile)
		padding: 35px 0

.page-footer__content
	display: flex
	justify-content: space-between
