include ../../components/_projects

-
	var projects = [
		{
			title: "The magic staff",
			modal: "the-magic-staff"
		},
		{
			title: "Puss in boots",
			modal: "puss-in-boots"
		},
		{
			title: "The catcher in the rye",
			author: "by J.D.Salinger",
			modal: "the-catcher"
		},
		{
			title: "The overcoat",
			author: "by N.Gogol",
			modal: "the-overcoat"
		},
		{
			title: "Jorney with the wind",
			modal: "jorney-with-wind"
		},
		{
			title: "Father",
			author: "by D.Boguslavsky",
			modal: "father"
		},
		{
			title: "The little humpbacked horse",
			author: "by P.Yershov",
			modal: "little-humpbacked-horse"
		},
		{
			title: "Accidental death of anarchist",
			author: "by Dario Fo",
			modal: "accidental-death-of-anarchist"
		},
		{
			title: "Hedda Gabler",
			author: "by H.Ibsen",
			modal: "hedda-gabler"
		},
		{
			title: "Even a wise man stumbles",
			author: "by N.Ostrovsky",
			modal: "wise-man-stumbles"
		},
		{
			title: "The golden fleece",
			author: "by J.Priestley",
			modal: "the-golden-fleece"
		},
		{
			title: "Cemetery club",
			author: "by I.Menchell",
			modal: "cemetery-club"
		},
		{
			title: "Black comedy",
			author: "by P.Shaffer",
			modal: "black-comedy"
		},
		{
			title: "A plague on both your houses",
			author: "by G.Gorin",
			modal: "plague-on-both-houses"
		},
		{
			title: "Sha-sha in the left shoe",
			author: "by E.Malchevskaya",
			modal: "sha-sha-in-the-left-shoe"
		},
		{
			title: "Little Nicolas",
			author: "by R.Goscinny",
			modal: "little-nicolas"
		},
	]

+projects(projects)
