.about
	h1.visually-hidden Biography. Realized drama and puppet productions.
	.container
		strong.about__name Olga Shcherbinskaya
	p.container.container--left.about__desc artist/set and costume designer
	.container.about__row
		.about__photo
			img(src="/img/about-1.png" srcset="/img/about-1@2.png 2x" alt="")
		.about__info
			p (born 1988, Minsk, Belarus)
			p 2003&ndash;2006 &mdash; Ahremchik College of Arts (specialty &ndash; painting), Minsk
			p 2006&ndash;2012 &mdash; Belarusian State Academy of Arts (specialty &ndash; set and costume design), Minsk
			p 2012&ndash;2020 &mdash; a scenographer in the Grodno Drama Theater
			p Since 2021 &mdash; a teacher and an author of the course in the children's art studio (Grodno)
			p Since 2013 &mdash; a member of the Belarusian Union of Artists

.history
	h3.container.container--left.history__title Realized drama and puppet productions

	.container
		dl.history__item
			dt.history__year 2024
			dd.history__desc
				p set, puppet, and costume design for #[strong «HOW TO CATCH A CLOUD»] by Sergey Kozlov (Gomel Puppet Theatre, Gomel, Belarus, director &mdash; Yana Yanchik, premiere &mdash; June 2024)
				p set, puppet, and costume design for #[strong «WINNIE-THE-POOH»] by Alan Milne (Grodno Puppet Theater, Grodno,Belarus, director &mdash; Valery Karyshev, premiere &mdash; July 2024)
				p set, puppet, and costume design for #[strong «KARLSON»] based on the trilogy by Astrid Lindgren (Mogilev Puppet Theater, Mogilev,Belarus, director &mdash; Valery Karyshev, premiere &mdash; December 2024)
		dl.history__item
			dt.history__year 2023
			dd.history__desc
				p set, puppet, and costume design for #[strong «THE LITTLE GHOST»] by Otfried Preussler, (Gomel Puppet Theatre, Gomel, Belarus, director &mdash; Yana Yanchik, premiere &mdash; May 2023)
		dl.history__item
			dt.history__year 2022
			dd.history__desc
				p set, puppet, and costume design for #[strong «SACRAMENT OF THE FOREST»] based on fairy tales by Yakub Kolas (Gomel Puppet Theatre, Gomel, Belarus, director &mdash; Yana Yanchik, premiere &mdash; July 2022)
				p set, puppet, and costume design for #[strong «THE UGLY DUCKLING»] by Hans Christian Andersen (Grodno Puppet Theater, Grodno, director &mdash; Valery Karyshev, premiere &mdash; July 2022)
		dl.history__item
			dt.history__year 2021
			dd.history__desc
				p set and puppet design for the interactive performance #[strong «THE FLYING JACOB»] based on the story by P.Vecht (Grodno, Belarus, various stages, in collaboration with Olga Bookataya, premiere &mdash; May 2021)
				p set and costume design for #[strong «VICTIMS OF DUTY»] by Eugene Ionesco (Grodno, Belarus, video performance, idea and production &mdash; Victoria Balcer, premiere &mdash; July 2021)
				p set and costume design for #[strong «THE FUNNY ELF AND THE EVIL WITCH»] by V.Ilyukhov (Gomel City Youth Theatre, Gomel, Belarus, director &mdash; Yana Yanchik, premiere &mdash; December 2021)
		dl.history__item
			dt.history__year 2020
			dd.history__desc
				p set and costume design for #[strong «ALL MICE LOVE CHEESE»] by D. Urban (Grodno Drama Theater, Grodno, Belarus, director &mdash; Sergey Kurylenko, premiere &mdash; April 2020)
				p set and costume design for #[strong «THE BUSYA»] (Grodno Drama Theater, Grodno, idea and production &mdash;Victoria Balcer, premiere &mdash; August 2020)
		dl.history__item
			dt.history__year 2019
			dd.history__desc
				p set and costume design for #[strong «SOLAR LINE»] by Ivan Vyrypaev (OK16, Minsk, Belarus, director &mdash; D.Tishko, premiere &mdash; November 2019)
		dl.history__item
			dt.history__year 2018
			dd.history__desc
				p set and costume design for #[strong «THE SUICIDE»] by N.Erdman (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Sergey Kurylenko, premiere &mdash; April 2018)
				p set, puppet, and costume design for #[strong «LITTLE NICOLAS»] by R.Goscinny (Gomel Puppet Theatre, Gomel, Belarus, director &mdash; Natalia Slaschova, premiere &mdash; July 2018)
		dl.history__item
			dt.history__year 2016
			dd.history__desc
				p set and costume design for #[strong «ONCE IN VERONA»] by G.Gorin (Belarussian Army Drama Theatre, Minsk, Belarus, director &mdash; Vyacheslav Pavlutc, premiere &mdash; March 2016)
				p set and costume design for #[strong «BLACK COMEDY»] by P.Shaffer (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Sergey Kurylenko, premiere &mdash; March 2016)
				p set, puppet, and costume design for #[strong «SHA-SHA IN THE LEFT SHOE»] based on the story by E.Malchevskaya (Gomel Puppet Theatre, Gomel, Belarus, director &mdash; Natalia Slaschova, premiere &mdash; June 2016)
		dl.history__item
			dt.history__year 2015
			dd.history__desc
				p set and costume design for #[strong «EVEN A WISE MAN STUMBLES»] by N.Ostrovsky (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Gennady Mushpert, premiere &mdash; March 2015)
				p set, puppet, and costume design for #[strong «HEDDA GABLER»] by H.Ibsen (Gomel Puppet Theatre, Gomel, Belarus, director &mdash; Natalia Slaschova, premiere &mdash; April 2015)
				p set and costume design for #[strong «CEMETERY CLUB»] by I.Menchell (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Sergey Kurylenko, premiere &mdash; July 2015)
				p set and costume design for #[strong «THE GOLDEN FLEECE»] by J.Priestley (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Gennady Mushpert, premiere &mdash; Nowember 2015)
				p costume design for #[strong «YOUNG FAMILY WOULD RENT A FLAT»] by M.Roshchin (Brest drama theatre, Brest, Belarus, director &mdash; Timofey Ilievskiy, premiere &mdash; Nowember 2015)
		dl.history__item
			dt.history__year 2014
			dd.history__desc
				p costume design for #[strong «THE OVERCOAT»] based on short stories by N.Gogol (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Piotr Dobrovsky (Poland), premiere &mdash; May 2014)
				p set and costume design for #[strong «ACCIDENTAL DEATH OF AN ANARCHIST»] by Dario Fo (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Sergey Kurylenko, premiere &mdash; July 2014)
				p set, puppet, and costume design for #[strong «THE LITTLE HUMPBACKED HORSE»] by P.Yershov (Mogilev Puppet Theatre, Mogilev, Belarus, director &mdash; Natalia Slaschova, premiere &mdash; July 2014)
				p costume design for #[strong «FATHER»] based on the play by D.Boguslavsky (Janka Kupala National Theatre, Minsk, Belarus, director &mdash; Ekaterina Averkova, premiere &mdash; October 2014)
				p set and costume design for #[strong «SQUAT»] by J.M.Chevre (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Sergey Kurylenko, premiere &mdash; November 2014)
		dl.history__item
			dt.history__year 2013
			dd.history__desc
				p set and costume design for #[strong «3+2»] by L.Petrushevskaya & P.Gladilin (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Sergey Kurylenko, premiere &mdash; June 2013)
				p set, puppet, and costume design for #[strong «A TRIP WITH THE WIND»] (Theatre «People and Puppets», Minsk, Belarus, premiere &mdash; November 2013)
		dl.history__item
			dt.history__year 2012
			dd.history__desc
				p set and costume design for #[strong «THE STONE»] by M. von Mayenburg (Theatre of Belarusian Dramaturgy, Minsk, Belarus, director &mdash; Natalia Slaschova, premiere &mdash; May 2012)
				p set, puppet, and costume design for #[strong «THE CATCHER IN THE RYE»] by J.D.Salinger (Gomel Puppet Theatre, Gomel, Belarus, director &mdash; Natalia Slaschova, premiere &mdash; May 2012)
				p set and costume design for #[strong «PUSS IN BOOTS»] based on the fairy tale by Charles Perrault (Grodno Drama Theatre, Grodno, Belarus, director &mdash; Sergey Kurylenko, premiere &mdash; December 2012)
		dl.history__item
			dt.history__year 2010
			dd.history__desc
				p costume design for #[strong «THE WIZARD OF OZ»] (The Palace of the Republic, Minsk, Belarus, director &mdash; Angela Tushinskaya, premiere &mdash; December 2010)
				p set and costume design for #[strong «HEY, JULIA!»] by E.Kishon (Theatre Company «Premiere», Minsk, Belarus, director &mdash; Vyacheslav Pavlutc, premiere &mdash; November 2010)
		dl.history__item
			dt.history__year 2009
			dd.history__desc costume design for #[strong «PLANET OF CHRISTMAS TREES»] (The Palace of the Republic, Minsk, Belarus, idea and production &mdash; Angela Tushinskaya, premiere &mdash; December 2009)
		dl.history__item
			dt.history__year 2008
			dd.history__desc set and costume design for #[strong «ROMAN + JULIA»] by D.Balyko (Theatre of Belarusian Dramaturgy, Minsk, Belarus, director &mdash; Katerina Tarasova, premiere &mdash; July 2008)

	h3.container.container--left.history__title Main art exhibitions and projects

	.container
		dl.history__item
			dt.history__year 2021
			dd.history__desc
				p group scenography exhibition #[strong «Scenogramma 21»] (Museum of the History of Theatrical and Musical Culture, Belarus, Minsk 2021)
		dl.history__item
			dt.history__year 2019
			dd.history__desc
				p personal art exhibition #[strong «Midsummer Night's Dream»] (painting) (аrt-cafe «Ava-kava», Belarus, Grodno 2019)
		dl.history__item
			dt.history__year 2018
			dd.history__desc
				p international plain-air (Poland, Mrągowo 2018)
		dl.history__item
			dt.history__year 2016
			dd.history__desc
				p personal exhibition #[strong «Midsummer Night's Dream»] (painting) (Small Gallery, Lithuania, Druskininkai, 2016)
		dl.history__item
			dt.history__year 2015
			dd.history__desc
				p group scenography exhibition #[strong «1:25 scale»] (Palace of Arts, Belarus, Minsk 2015)
				p international exhibition of scenography #[strong «Prague Quadrennial PQ &mdash; 2015»] (Bethlehem Chapel, pavilion13: Belarusian State Academy of Arts, Czech Republic, Prague 2015)
				p international plain-air #[strong «M.K.ČIURLIONIO DIENOS &mdash; 2015»] (Lithuania, Druskininkai 2015)
		dl.history__item
			dt.history__year 2014
			dd.history__desc
				p group exhibition #[strong «Under the open sky»] (National Gallery of Art, Poland, Sopot 2014)
		dl.history__item
			dt.history__year 2008
			dd.history__desc
				p art project #[strong «Model&ndash;reconstruction of the 18th-century school theater stage in Belarus»] (in collaboration with Aleksander Baldakow) (Museum of the History of Theater and Musical Culture of Belarus, the permanent exhibition, Belarus, Minsk 2008)
