.about
	.about__promo
		.container.about__row
			.about__photo
				img(src="/img/about-1.jpg", srcset="/img/about-1@2.jpg 2x", alt="")
			.about__info
				h2.about__name SHCHERBINSKAYA #[br] OLGA
				p Was born in 1988 (Minsk, Belarus)
				p 2003 &ndash; 2006 &mdash; Ahremchik Art College, Minsk, Belarus(speciality &ndash; painting)
				p 2006 &ndash; 2012 &mdash; Belarusian State Academy of Arts, Minsk, Belarus(speciality &ndash; set and costume design)
				p Since 2012 &mdash; a scenographer in Grodno drama theatre (Grodno, Belarus)
				p Since 2013 &mdash; a member of the youth section of The Belarusian Union of Artists
	.container.history
		.history__title
			h3 Realized drama and puppet productions:
		dl.history__item
			dt.history__year 2008
			dd.history__desc &mdash; set and costume design for #[strong «ROMAN + JULIA»] by D.Balyko #[span.history__meta (Theatre of Belarusian Dramaturgy, Minsk, Belarus, director &ndash; E.Tarasova, premiere &ndash; July 2008)]
		dl.history__item
			dt.history__year 2009
			dd.history__desc &mdash; costume design for #[strong «PLANET OF CHRISTMAS TREES»] #[span.history__meta (The Palace of the Republic, Minsk, Belarus, director &ndash; A.Tushinskaya, premiere &ndash; December 2009)]
		dl.history__item
			dt.history__year 2010
			dd.history__desc
				p &mdash; costume design for #[strong «THE WIZARD OF OZ»] #[span.history__meta (The Palace of the Republic, Minsk, Belarus, director &ndash; A.Tushinskaya, premiere &ndash; December 2010)]
				p &mdash; set and costume design for #[strong «HEY, JULIA!»] by E.Kishon #[span.history__meta (Theatre company «Premiere», Minsk, Belarus, director &ndash; V.Pavlutc, premiere &ndash; Nowember 2010)]
		dl.history__item
			dt.history__year 2012
			dd.history__desc
				p &mdash; set and costume design for #[strong «THE STONE»] by M. von Mayenburg #[span.history__meta (Theatre of Belarusian Dramaturgy, Minsk, Belarus, director &ndash; N.Slaschova, premiere &ndash; May 2012)]
				p &mdash; set, puppet and costume design for #[strong «THE CATCHER IN THE RYE»] by J.D.Salinger #[span.history__meta (Gomel Puppet Theatre, Gomel, Belarus, director &ndash; N.Slaschova, premiere &ndash; May 2012)]
				p &mdash; set and costume design for #[strong «THE MYSTERY OF THE MAGIC STAFF»] #[span.history__meta (Santa Claus`s residence in Kuzminki, Moscow, Russia, director &ndash; A.Tushinskaya, premiere &ndash; Dec.2012)]
				p &mdash; set and costume design for #[strong «PUSS IN BOOTS»] #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; S.Kurylenko, premiere &ndash; December 2012)]
		dl.history__item
			dt.history__year 2013
			dd.history__desc
				p &mdash; set and costume design for #[strong «3+2»] by L.Petrushevskaya &amp; P.Gladilin #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; S.Kurylenko, premiere &ndash; June 2013)]
				p &mdash; set, puppet and costume design for #[strong «A TRIP WITH THE WIND»] #[span.history__meta (Theatre «People and Puppets», Minsk, Belarus, premiere &ndash; November 2013)]
		dl.history__item
			dt.history__year 2014
			dd.history__desc
				p &mdash; costume design for #[strong «THE OVERCOAT»] based on short stories by N.Gogol #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; P.Dobrovsky (Poland), premiere &ndash; May 2014)]
				p &mdash; set and costume design for #[strong «ACCIDENTAL DEATH OF AN ANARCHIST»] by Dario Fo #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; S.Kurylenko, premiere &ndash; July 2014)]
				p &mdash; set, puppet and costume design for #[strong «THE LITTLE HUMPBACKED HORSE»] by P.Yershov #[span.history__meta (Mogilev Puppet Theatre, Mogilev, Belarus, director &ndash; N.Slaschova, premiere &ndash; July 2014)]
				p &mdash; costume design for #[strong «FATHER»] based on the play by D.Boguslavsky #[span.history__meta (Janka Kupala National Theatre, Minsk, Belarus, director &ndash; E.Averkova, premiere &ndash; October 2014)]
				p &mdash; set and costume design for #[strong «SQUAT»] by J.M.Chevre #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; S.Kurylenko, premiere &ndash; November 2014)]
		dl.history__item
			dt.history__year 2015
			dd.history__desc
				p &mdash; set and costume design for #[strong «EVEN A WISE MAN STUMBLES»] by N.Ostrovsky #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; G.Mushpert, premiere &ndash; March 2015)]
				p &mdash; set, puppet and costume design for #[strong «HEDDA GABLER»] by H.Ibsen #[span.history__meta (Gomel Puppet Theatre, Gomel, Belarus, director &ndash; N.Slaschova, premiere &ndash; April 2015)]
				p &mdash; set and costume design for #[strong «CEMETERY CLUB»] by I.Menchell #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; S.Kurylenko, premiere &ndash; July 2015)]
				p &mdash; set and costume design for #[strong «THE GOLDEN FLEECE»] by J.Priestley #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; G.Mushpert, premiere &ndash; Nowember 2015)]
				p &mdash; costume design for #[strong «YOUNG FAMILY WOULD RENT A FLAT»] by M.Roshchin #[span.history__meta (Brest drama theatre, Brest, Belarus, director &ndash; Y. Ilievskiy, premiere &ndash; Nowember 2015)]
		dl.history__item
			dt.history__year 2016
			dd.history__desc
				p &mdash; set and costume design for #[strong «A PLAGUE ON BOTH YOUR HOUSES»] by G. Gorin #[span.history__meta (Belarussian army drama theatre, Minsk, Belarus, director &ndash; V. Pavlutc, premiere &ndash; March 2016)]
				p &mdash; set and costume design for #[strong «BLACK COMEDY»] by P. Shaffer #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; S.Kurylenko, premiere &ndash; March 2016)]
				p &mdash; set, puppet and costume design for #[strong «SHA-SHA IN THE LEFT SHOE»] based on the story by E.Malchevskaya #[span.history__meta (Gomel Puppet Theatre, Gomel, Belarus, dir. N.Slaschova, premiere &ndash; June 2016)]
		dl.history__item
			dt.history__year 2018
			dd.history__desc
				p &mdash; set and costume design for #[strong «THE SUICIDE»] by N.Erdman #[span.history__meta (Grodno drama theatre, Grodno, Belarus, director &ndash; S.Kurylenko, premiere &ndash; April 2018)]
				p &mdash; set, puppet and costume design for #[strong «LITTLE NICOLAS»] by R.Goscinny #[span.history__meta (Gomel Puppet Theatre, Gomel, Belarus, dir. N.Slaschova, premiere – July 2018)]

		.history__title
			h3 Art exhibitions and projects:
		dl.history__item
			dt.history__year 2014
			dd.history__desc
				p &mdash; group exhibition #[strong «Under the open sky»] #[span.history__meta (Poland, Sopot 2014, National Gallery of Art)]
				p &mdash; group exhibition #[strong «Youth»] #[span.history__meta (Grodno Historical and Archaeological Museum, Senator Hall, Grodno 2014)]
		dl.history__item
			dt.history__year 2015
			dd.history__desc
				p &mdash; group scenography exhibition #[strong «1:25 scale»] #[span.history__meta (Palace of Arts, Minsk 2015)]
				p &mdash; international exhibition of scenography #[strong «Prague Quadrennial PQ &ndash; 2015»] #[span.history__meta (Bethlehem Chapel, pavilion 13:Belarusian State Academy of Arts, Czech Republic, Prague 2015)]
				p &mdash; international plain-air #[strong «M.K.ČIURLIONIO DIENOS &ndash; 2015»] #[span.history__meta (Lithuania, Druskininkai 2015)]
		dl.history__item
			dt.history__year 2016
			dd.history__desc
				p &mdash; personal exhibition #[strong «Midsummer Night's Dream»] (painting) #[span.history__meta (Lithuania, Druskininkai, Small Gallery, August &ndash; September 2016)]
