footer.page-footer
	.container
		.page-footer__content
			div
				a.page-footer__social(href="https://www.facebook.com/olga.shcherbinskaya", target="_blank")
					include ../../svg/fb.svg
				a.page-footer__social(href="https://www.linkedin.com/pub/olga-shcherbinskaya/a4/175/b82", target="_blank")
					include ../../svg/linkedin.svg
				a.page-footer__email(href="mailto:olga.shcherbinskaya@gmail.com") olga.shcherbinskaya@gmail.com

			.page-footer__languages
				.page-footer__lang
					include ../../svg/ru.svg
				//- .page-footer__lang
				//- 	include ../../svg/en.svg
