header.page-header
	nav.main-nav
		.container.main-nav__inner
			ul.main-nav__list
				li.main-nav__item
					a(href="index.pug") Home
				li.main-nav__item
					a(href="about.pug") About me
				li.main-nav__item
					span Portfolio
					ul.main-nav__list
						li.main-nav__item
							a(href="scenographic-projects.pug") Scenographic projects
						li.main-nav__item
							a(href="realized-productions.pug") Realized Productions
						li.main-nav__item
							a(href="painting.pug") Painting
				li.main-nav__item
					a(href="handmade.pug") Hand Made

			button.main-nav__toggle(type="button")
