meta(charset="utf-8")
// Gets title text from page top comment variable title
title= title || "Olga Shcherbinskaya Website"
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Website description")
link(href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,500,700" rel="stylesheet")
link(rel="stylesheet" media="all" href="/sass/app.sass")
//- link(rel="stylesheet" media="all" href="/css/font.css")

//- opengraph
//- meta(property="og:image:width", content="1200")
//- meta(property="og:image:height", content="628")
//- meta(property="og:url", content="http://apsisglobe.ru")
//- meta(property="og:image", content="http://apsisglobe.ru/img/favicon/og-image.jpg")
//- meta(property="og:title", content="APSISGLOBE")
//- meta(property="og:type" content="website")
//- meta(property="og:site_name" content="APSISGLOBE")
//- meta(property="og:description", content="Выполняем полный девелоперский цикл &mdash; от строительства до инвестиций")


//- link(rel="apple-touch-icon", sizes="180x180", href="/img/favicon/apple-touch-icon.png")
//- link(rel="icon", type="image/png", sizes="32x32", href="/img/favicon/favicon-32x32.png")
//- link(rel="icon", type="image/png", sizes="16x16", href="/img/favicon/favicon-16x16.png")
//- link(rel="manifest", href="/img/favicon/site.webmanifest")
//- link(rel="mask-icon", href="/img/favicon/safari-pinned-tab.svg", color="#e60000")
//- meta(name="msapplication-TileColor", content="#fdfdfd")
//- // change Android Chrome address bar color
//- meta(name="theme-color", content="#ffffff")
//- meta(name="apple-mobile-web-app-capable" content="yes")
//- meta(name="apple-mobile-web-app-status-bar-style", content="black")

//- meta(name="twitter:card" content="summary")
//- meta(name="twitter:site" content="http://apsisglobe.ru")
//- meta(name="twitter:title" content="APSISGLOBE")
//- meta(name="twitter:description" content="Выполняем полный девелоперский цикл &mdash; от строительства до инвестиций")
//- //- Twitter Summary card images must be at least 120x120px
//- meta(name="twitter:image" content="http://apsisglobe.ru/img/favicon/og-image.jpg")
