header.page-header
	nav.main-nav
		.container.main-nav__inner
			ul.main-nav__list.js-menu
				li.main-nav__item
					+link("index.pug", "Home")
				//- li.main-nav__item
				//- 	+link("about.pug", "About me")
				li.main-nav__item
					span Portfolio
					ul.main-nav__list
						li.main-nav__item
							+link("scenographic-projects.pug", "Scenographic projects")
						li.main-nav__item
							+link("realized-productions.pug", "Realized Productions")
						//- li.main-nav__item
						//- 	+link("painting.pug", "Painting")
				//- li.main-nav__item
				//- 	+link("handmade.pug", "Hand Made")

			button.main-nav__toggle.js-menu-toggle(type="button")
				.main-nav__toggle-inner
