extends ./templates/_skeleton

block vars
	- var title = "Biography"
	- var currentPage = "About me"

block header
	+header()(class="page-header--about")

block content
	include ./templates/sections/about/_content
