extends ./templates/_skeleton

block vars
	- var title = "Painting works by Olga Shcherbinskaya"
	- var currentPage = "Painting"

block content
	include ./templates/sections/painting/_works.pug

block modals
	include ./templates/sections/painting/_modal.pug
