extends ./templates/_skeleton

block vars
	- var title = "Realized Productions by Olga Shcherbinskaya"
	- var currentPage = "Realized Productions"

block content
	include ./templates/sections/realized/_projects.pug

block modals
	include ./templates/sections/realized/_modals.pug
