extends ./templates/_skeleton

block vars
	- var title = "Scenography Projects by Olga Shcherbinskaya"
	- var currentPage = "Scenographic projects"

block content
	include ./templates/sections/scenographic/_projects.pug

block modals
	include ./templates/sections/scenographic/_modals.pug
