include ../../components/_projects

-
	var projects = [
		{
			title: "The master and margarita",
			author: "by M.Bulgakov",
			modal: "master-margarita"
		},
		{
			title: "The head",
			author: "by M.Sidaruk",
			modal: "the-head"
		},
		{
			title: "The merry wives of windsor",
			author: "by W.Shakespeare",
			modal: "the-merry-wives"
		},
		{
			title: "Three sisters",
			author: "by A.Chekhov",
			modal: "three-sisters"
		},
		{
			title: "Three fat men",
			author: "by V.Rubin",
			modal: "three-fat-men"
		},
		{
			title: "The birds",
			author: "by Aristophanes",
			modal: "the-birds"
		},
		{
			title: "The flying dutchman",
			author: "by V.Korotkevich",
			modal: "the-flying-dutchman"
		},
		{
			title: "Falstaff",
			author: "by G.Verdi",
			modal: "falstaff"
		},
	]

+projects(projects)
